.body {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: flex-start;
}

.body table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.body td,
.body th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

.body tr:nth-child(even) {
	background-color: #dddddd;
}
