.navbar {
	display: flex;
	justify-content: space-between;
	padding: 16px 8px;
}

.navbar .upload-button {
	background-color: black;
	color: white;
	padding: 4px 16px;
	border-radius: 4px;
	font-weight: 500;
	margin-right: 32px;
	cursor: pointer;
}

.navbar .nav-option {
	margin: 8px;
	font-weight: 500;
	font-size: 18px;
	cursor: pointer;
}

.navbar .nav-option.active {
	text-decoration: underline;
	text-decoration-thickness: 2px;
}
